.arrow {
  
          display: inline-block;
  
          position: relative;

  
          width: 64px;
  
          height: 64px;
  
          background: url(css/icon_menu/rivals.png);
  
  }

  .arrow span {
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            background: url(css/icon_menu/rivals2.png);
            opacity: 0;
            -webkit-transition: opacity 0.5s;
            -moz-transition: opacity 0.5s;
            -o-transition: opacity 0.5s;
    }

    .arrow:hover span {
              opacity: 1;
      }
      
    



      * общие стили кнопки и текста */
.button{

display: flex;
text-align: center;
justify-content:center;
align-items: center;
min-height: 60px;
padding: 0px 30px;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 18px;
border-radius: 10px;
position: relative;
top: 0;
}

/* стили для конкретной кнопки */
.button_1{
margin-top: 5%;
color: #fff;
background-color: #5e5373;
box-shadow: 0 5px 0px #3c354a;
transition-property: all;
transition-duration: 0.5s;
transition-delay: 0s;
transition-timing-function: ease;
}

.button_1:hover{

padding: 0px 50px;
background-color: #18b5a4;
}
















.tab {
        position: relative;
        margin-bottom: 1px;
        width: 20%;
        color: #fff;
        overflow: hidden;
      }
      .tab input {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
      .tab label {
        position: relative;
        display: block;
        padding: 0 0 0 1em;
        background: #16a085;
        font-weight: bold;
        line-height: 3;
        cursor: pointer;
        background: #2980b9;
        
      }
      .tab-content {
        max-height: 0;
        overflow: hidden;
        background: #1abc9c;
        -webkit-transition: max-height .35s;
        -o-transition: max-height .35s;
        transition: max-height .35s;
      }
      
      .tab-content a {
        margin: 1em;
      }
      /* :checked */
      .tab input:checked ~ .tab-content {
        max-height: 100vh;
      }
      
      /* Icon */
      .tab label::after {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 3em;
        height: 3em;
        line-height: 3;
        text-align: center;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
      }
      .tab input[type=checkbox] + label::after {
        content: "+";
      }
      .tab input[type=radio] + label::after {
        content: "\25BC";
      }
      .tab input[type=checkbox]:checked + label::after {
        transform: rotate(315deg);
      }
      .tab input[type=radio]:checked + label::after {
        transform: rotateX(180deg);
      }