@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&f..');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* Container = body */
body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Menu */
.menu {
    position: fixed;
    background-color: #063852;
    z-index: 5;

    height: 100%;
    width: 350px;
}

/* Logo menu */

.logo {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 100px;

    font-size: 50px;
    font-weight: 700;

    color: #E6DF44;
    transition: 1.5s; 
    z-index: 5;
}

/* Nav menu */

.nav_link {
    display: flex;
    
    justify-content: space-between;
    position: relative;
    overflow: hidden;

	cursor: pointer;
    font-size: 32px;

    line-height: 1.5;

    margin: 0 auto;

    border-radius: 50px;

    padding-right: 50px;
    
    padding-left: 45px;
    text-align: left;
    color: #ff8f1f;
    text-decoration: none;
    transition: color 0.2s linear;
}

.nav_link img {
    height: 32px; 
    width : 32px;
    margin-top: 8px;
    margin-left: 8px;
}

.nav_link div{
    float: left;
}

.nav_link:hover {
    color: #ff8f1f;

}
.nav_link:before,
.nav_link:after {
	content: "";
	position: absolute;  
    height: 200px;
    left: -25%;
    margin-top: -100px;    
    top: 50%;
    width: 200px;
	border-radius: 50%;
    opacity: 0;
    z-index: -1;
    transform: scale(0);
}
.nav_link:before {
    background:  #967b61;  
    transition: .8s ease-out;
}
.nav_link:after {   
    transition: .4s ease-in .3s;
}
.nav_link:hover:before,
.nav_link:hover:after{
    opacity: 0.8;
    transform: scale(4);
}


/* Button menu */

/* Button hide */
.button-hide {
    font-family: 'Nunito', sans-serif;
    top: 300px;
    left: 10px;
    background: transparent;
    border-width: 0;
    position: relative;
    cursor: pointer;
    font-size: 30px;
    transition: .3s;
    z-index: 999;
}

.button-hide span {
    display: block;
    position: relative;
    z-index: 3;
    background: #170250;
    color: #fffbb0;
    padding: 0 30px;
    line-height: 40px;
}

.button-hide:before {
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    left: -5px;
    top: -5px;
    background: #ff4675;
    z-index: 1;
    transition: .4s ease-out;
}

.button-hide:after {
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    right: -5px;
    bottom: -5px;
    background: #f0910f;
    transition: .4s ease-out .1s;
}

.button-hide:hover:before {
    transform: translate(5px, 5px);
}

.button-hide:hover:after {
    transform: translate(-5px, -5px);
}


/* Button download */

.button-download {
    overflow: hidden;
    cursor: pointer;
    position: relative;

    display: inline-flex;
    align-items: center;

    width: 80%;
    height: 55px; 

    margin: 30px 30px 30px 30px;
   
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    
    background: #170250;
    color: white;

    padding: 12px 20px;
    border: none;
    transition: .2s linear;
}

.button-download:hover {
    background: #200b5a;
}

.button-download:after {
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 30px;
    padding-left: 20px;
    border-left: 1px solid;
}

.button-download span{
    padding-left: 20px;
    padding-right: 10px; 
}

/* Menu end */







/* Content */
.content {
    left: 400px;
    padding-right: 800px;

    height: 2500px;
    width: 100%;
    flex: 0 0 auto;

    background-color: #002336;
    background-repeat: repeat-y;
    background-position: center;
    background-image: url(css/img22.JPEG);
    background-size: 820px;
}

/*
.backgrr {
    position: fixed;

    left: 400px;
    padding-right: 800px;

    background-color: black;
    height: 2500px;
    width: 100%;
    flex: 0 0 auto;
    padding: 0 50px;

    opacity: 0.7;
}
*/

/* Icon */
.icon {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    top: 0px;
    left: 1065px;
    margin-right: 30px;
}
.icon_hover {
    margin: 5px;
}

/* Button-open-hide-menu */
.button-open-hide-menu {
    font-family: 'Nunito', sans-serif;
    bottom: 0px;
    left: 10px;
    background: transparent;
    border-width: 0;
    position: fixed;
    cursor: pointer;
    font-size: 30px;
    transition: .3s;
    z-index: 999;
}

.button-open-hide-menu span {
    display: block;
    position: relative;
    z-index: 3;
    background: #170250;
    color: #fffbb0;
    padding: 0 30px;
    line-height: 40px;
}

.button-open-hide-menu:before {
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    left: -5px;
    top: -5px;
    background: #ff4675;
    z-index: 1;
    transition: .4s ease-out;
}

.button-open-hide-menu:after {
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    right: -5px;
    bottom: -5px;
    background: #f0910f;
    transition: .4s ease-out .1s;
}

.button-open-hide-menu:hover:before {
    transform: translate(5px, 5px);
}

.button-open-hide-menu:hover:after {
    transform: translate(-5px, -5px);
}




/* Button hide-topics */
.button-hide-open-topics {
    font-family: 'Nunito', sans-serif;
    bottom: 0px;
    right: 10px;
    background: transparent;
    border-width: 0;
    position: fixed;
    cursor: pointer;
    font-size: 30px;
    transition: .3s;
    z-index: 999;
}

.button-hide-open-topics span {
    display: block;
    position: relative;
    z-index: 3;
    background: #170250;
    color: #fffbb0;
    padding: 0 30px;
    line-height: 40px;
}

.button-hide-open-topics:before {
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    left: -5px;
    top: -5px;
    background: #ff4675;
    z-index: 1;
    transition: .4s ease-out;
}

.button-hide-open-topics:after {
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    right: -5px;
    bottom: -5px;
    background: #f0910f;
    transition: .4s ease-out .1s;
}

.button-hide-open-topics:hover:before {
    transform: translate(5px, 5px);
}

.button-hide-open-topics:hover:after {
    transform: translate(-5px, -5px);
}



/* Content end */





/* Topics*/
.topics {
    z-index: 5;
    background-color: #063852;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    padding: 0 50px;
    padding-top: 30px;
    font-family: 'Nunito', sans-serif;
}

.topics_title {
    font-size: 50px;
    font-weight: 700;
    color: #E6DF44;
}

.topics_nav {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    padding-top: 15px;
    line-height: 1.5;
}

.topics_link {
    display: inline-block;

    display: flex;
    justify-content: space-between;

    left: 300px;
    margin: 0 15px;
    
    color: #f3993f;
    text-decoration: none;
    transition: color 0.2s linear;
}

.topics_link:hover {
    color: #f3ba3f;

}

.topics_link:hover:after {
    opacity: 1;
}
/* Topics end*/






* {box-sizing: border-box;}
ul {
    
    margin: 0;
    padding: 0;
    list-style: none;
}
.bx-wrapper {
    transform: translate(-50%, 0px);
    left: 50%; 

    right: 100px;
    width: 880px;
    margin: 50px 0px 0px 500px ;
    position: relative;
}
.bx-wrapper img {
    width: 100%;
    max-width: 100%;
    display: block;
}
.bx-prev {
    text-decoration: none;
    position: absolute;
    cursor: pointer;
    top: 2%;
    right: 50%;
    
    border-radius: none;
    border: 1px solid #ffefdd;
    color: #ffefdd;
    width: 45px;
    height: 45px;

    transition: all ease .4s;
    z-index: 10;
    background-image: url(css/up-arrow.PNG);
    background-position: center; 
    background-color: rgb(219, 199, 171);
}


.bx-next {
    text-decoration: none;
    position: absolute;
    cursor: pointer;
    bottom: 2%;
    left: 50%;
  
    border-radius: none;
    border: 1px solid #ffefdd;
    color: #ffefdd;
    width: 45px;
    height: 45px;

    transition: all ease .4s;
    z-index: 10;
    background-image: url(css/down-arrow.PNG);
    background-position: center; 
    background-color: rgb(219, 199, 171);

}
.bx-prev:hover, .bx-next:hover, .bx-prev:active, .bx-next:active {

    border-color: #aa681d;
}
.bx-prev {left: 20px;}
.bx-next {right: 20px;}
.bx-prev:before, .bx-next:before {font-family: "FontAwesome";}
.bx-caption {
    
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: .3s ease-in-out;
    padding: 2em;
    background: rgba(255,255,255,.9);
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
}

/* */
/* */
/* */
/* */