.avatar_messanges {
    margin: 3%;
    width: 65px;
    height: 65px;
    border-radius: 70%;
}

.form_messanges {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 90%;
    padding: 0px 0;
    margin: 20px;
    border: 2px solid #2d4262;
    border-radius: 30px;

    font-size: 29px;
    line-height: 1.5;
    color: #dddddb;
    z-index: 999;
}

.messanges {
    position: relative;
    cursor: pointer;

    width: 150px;
    padding: 1px 20px;
    margin: 10px;
    background: #2d4262;
    color: #dddddb;

    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
}

.messanges2 {
    position: relative;

    cursor: pointer;

    min-width: 5px;
    width: 150px;
    padding: 1px 20px;
    margin: 10px;
    left: 400px;
    
    background: #365583;
    color: #dddddb;

    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
}

.header_messanges {
    position: relative;
    left: 35%;
    width: 30%;
    display: flex;
}

.nick {
    cursor: pointer;
    display: block;
    padding: 30px 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #dddddb;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
}

.send {
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    float: right;

    padding: 0px 20px;
    margin-right: 30px;

    width: 200px;
    height: 45px; 

    font-size: 20px;
    letter-spacing: 1.2px;

    background-color: #253752;

    border-radius: 30px;
    border: 0;
    color: #dddddb;

    box-shadow: 0 5px 0px #3e5c88;
    transition: all 0.5s ease 0s;
    text-decoration: none;
}

.send:hover {
    padding: 0px 42px;
    box-shadow: 0 5px 0px #253752;
    background-color: #3e5c88;
}

.send img {
    position: absolute;
    display: flex;
    height: 30px; 
    width: 30px;
    top: 8px;
    right: 15px;
    bottom: 8px;
}

.line_messange {
    width: 100%;
    margin-top: 10px;
    margin-right: 20px;
    float: left;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
}

.line_messange .enter {
    margin-right: 120px;
    margin: 3px;
    width: 70%;
    float: left;
    background-color: inherit;
    border: 0;
    font-size: 1em;
    color: inherit;
    border-bottom: 2px solid #37b9ff;
}

.line_messange .enter:focus{
    border-bottom: 2px solid #dddddb;
}