.arrow {
  
          display: inline-block;
  
          position: relative;

  
          width: 64px;
  
          height: 64px;
  
          background: url(css/icon_menu/rivals.png);
  
  }

  .arrow span {
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            background: url(css/icon_menu/rivals2.png);
            opacity: 0;
            -webkit-transition: opacity 0.5s;
            -moz-transition: opacity 0.5s;
            -o-transition: opacity 0.5s;
    }

    .arrow:hover span {
              opacity: 1;
      }
      
    



      * общие стили кнопки и текста */
.button{

display: flex;
text-align: center;
justify-content:center;
align-items: center;
min-height: 60px;
padding: 0px 30px;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 18px;
border-radius: 10px;
position: relative;
top: 0;
}

/* стили для конкретной кнопки */
.button_1{
margin-top: 5%;
color: #fff;
background-color: #5e5373;
box-shadow: 0 5px 0px #3c354a;
transition-property: all;
transition-duration: 0.5s;
transition-delay: 0s;
transition-timing-function: ease;
}

.button_1:hover{

padding: 0px 50px;
background-color: #18b5a4;
}