.cap_rivals{
    position: relative;

    height: 180px;
    background-color: #131c25;
    width: 100%;
    z-index: 2;
}

.rivals_title {
    background: #131c25;
    width: 100%;
    color: #37b9ff; 
    font-size: 30px;
    text-align: center;
    line-height: 100px;

    z-index: 2;
}
   
.sort_rivals {
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 15%;
}

.sort_rivals_example {
    cursor: pointer;
    color: #dddddb;
    padding: 20px;
    margin: 15px;
    width: 50%;
    right: 50%;
    vertical-align: top;
    transition: all 0.8s;
    word-break: normal; 
    text-align: center;
}
.sort_rivals_example:hover {
    color: #37b9ff; 
    /*border-bottom: 1px solid #37b9ff;*/
}

.rivals{
    position: relative;
    height: 100%;
    width: 100%;

    z-index: 0;
}

.rivals_content {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    cursor: pointer;
    align-items: center;

    width: 93%;
    margin: 10px;

    color: #dddddb;
}

.line_rivals {
    z-index: -1;
    width: 100%;
    border-top: 1px solid #dddddb;
    right: -50px;
    margin-right: -150px;
    margin-bottom: 10px;
}