.form_settings_profile {
    position: relative;
    width: 90%;
    height: auto;
    margin: 0;
    left: 5%;
    border: 2px solid #2d4262;
    border-radius: 30px;
    display: flex;
    flex-flow: column wrap;
}

.form_name_profile {
    position: relative;
    width: auto;
    height: auto;
    left: 5%;
    padding: 10px;
    border: 2px solid #2d4262;
    border-radius: 30px;

    display: inline-block;
    justify-content: space-between;
    overflow: hidden;
    font-size: 29px;
    line-height: 1.5;
    color: #dddddb;
    z-index: 999;
}

.form_name_profile:hover {
    border: 2px solid #37b9ff;
}

.settings_profile_title {
    width: 100%;
    color: #37b9ff; 
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    z-index: 2;
}

.avatar_settings_profile {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    border: 3px solid #37b9ff;
    filter: brightness(50%);
    cursor: pointer;
}

.enter_profile_title {
    margin: 3px;
    width: 200px;
    float: left;
    background-color: inherit;
    border: 0;
    font-size: 20px;
    color: inherit;
    border-bottom: 2px solid #37b9ff;
}

.enter_profile_title:hover {
    border-bottom: 2px solid #dddddb;
}

.info {
    position: absolute;
    display: inline-block;
    justify-content: space-between;
    overflow: hidden;

    text-decoration: none;
    text-align: left;
    font-size: 29px;
    margin-left: 20px;
    margin-top: 150px;
    line-height: 1.5;
    color: #dddddb;
}

.name {
    font-weight: bold;
}

.nickname {
    font-size: 20px;
    font-weight: 100;
}

.description_info {
    font-size: 20px;
    font-weight: 500;
}

.quantity_rivals, .quantity_challenge{
    font-size: 15px;
    cursor: pointer;
}







.button_avatar {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    align-items: center;

    padding: 0 20px;

    width: 190px;
    height: 55px; 
    
    font-size: 20px;
    border-radius: 30px;
    border: 0;
    
    background: #2d4262;
    color: #dddddb;

    transition: .2s linear;
}

.button_avatar:hover {
    background: #3e5c88;
    color: #37b9ff; 
}








.confirm_changes {
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    padding: 0px 20px;
    margin-left: 50px;
    margin-top: 10px;

    width: 240px;
    height: 45px; 

    font-size: 20px;
    letter-spacing: 1.2px;

    background-color: #253752;

    border-radius: 30px;
    border: 0;
    color: #dddddb;

    box-shadow: 0 5px 0px #3e5c88;
    transition: all 0.5s ease 0s;
}

.confirm_changes:hover {
    padding: 0px 45px;
    box-shadow: 0 5px 0px #253752;
    background-color: #3e5c88;
}



