@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&f..');
body {
font-family: 'Kaushan Script', cursive;
font-family: 'Nunito', sans-serif;
/*color: limegreen;*/
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* Container = body */
body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


/* Menu */
.menu {
    background-color: #063852;
    position: fixed;
    height: 1500px;
    flex: 0 0 auto;
    padding: 0 50px;
    width: 20%;
    padding-top: 30px;
}

/* Logo menu */

.logo {
    font-size: 50px;
    font-weight: 700;
    color: #f0910f;
}

/* Nav menu */

.nav {


    font-size: 30px;
    text-transform: uppercase;
    padding-top: 15px;
    line-height: 1.5;
}

.nav_link {
    display: inline-block;

    display: flex;
    justify-content: space-between;

    left: 300px;
    margin: 0 15px;

    color: #f3993f;
    text-decoration: none;
    transition: color 0.2s linear;
}

.nav_link:hover {
    color: #f3ba3f;

}

.nav_link:hover:after {
    opacity: 1;
}

/* Button menu */

.button-hide {
    margin-top: 20px;
    margin-left: 40px;
    background: transparent;
    border-width: 0;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    transition: .3s;
}

.button-hide span {
    display: block;
    position: relative;
    z-index: 3;
    background: #170250;
    color: #fffbb0;
    padding: 0 30px;
    line-height: 40px;
}

.button-hide:before {
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    left: -5px;
    top: -5px;
    background: #ff4675;
    z-index: 1;
    transition: .4s ease-out;
}

.button-hide:after {
    content: "";
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    right: -5px;
    bottom: -5px;
    background: #f0910f;
    transition: .4s ease-out .1s;
}

.button-hide:hover:before {
    transform: translate(5px, 5px);
}

.button-hide:hover:after {
    transform: translate(-5px, -5px);
}

/* Menu end */




/* Content */
.content {
    background-color: #1072a7;
    height: 1500px;
    width: 50%;
    flex: 0 0 auto;
    padding: 0 50px;
    background-image: url(css/img1.JPG);
    background-size: 100%;

}
/* Content end */



/* Topics*/
.topics {
    background-color: #063852;
    height: 1500px;
    width: 30%;
    flex: 0 0 auto;
    padding: 0 50px;
    padding-top: 30px;
}

.topics_title {
    font-size: 40px;
    font-weight: 700;
    color: #E6DF44;
}

.topics_nav {
    font-size: 25px;
    padding-top: 15px;
    line-height: 1.5;
}

.topics_link {
    display: inline-block;

    display: flex;
    justify-content: space-between;

    left: 300px;
    margin: 0 15px;

    color: #f3993f;
    text-decoration: none;
    transition: color 0.2s linear;
}

.topics_link:hover {
    color: #f3ba3f;

}

.topics_link:hover:after {
    opacity: 1;
}
/* Topics end*/

/* */
/* */
/* */
/* */