/*303136 темный
363940 светлый */
body {  
	font-family: 'Open Sans', sans-serif;
   	font-size: 15px;
   	color: #ffff;
	background-color: #363940;
	margin: 0;
	padding: 0;
}

 *,
 *:before
 *:after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

/* CONTAINER */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}
/* CONTAINER END */


/* HEADER */
.header {
	width: 100%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: #303136;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo {
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	padding-right: 30px;
}
/* HEADER END */





/* NAV  */
.nav_title {
	font-family: 'Open Sans', sans-serif;
    background-color: #303136;
    color: white;
    letter-spacing: 0.5px;
    padding: 16px;
    font-size: 15px;
    border: none;
    text-transform: uppercase;
	transition: color 0.2s linear;
    cursor: text;
    
}

.nav_title:after {
	position: absolute;
	content: "";
	display: block;
    
    width: 0%;
	height: 2px;
	background-color: #37b9ff;
	opacity: 0;
    transition: width 0.25s ease-in-out;
}

.nav_title:hover {
	color: #37b9ff;
}

.nav_title:hover:after {
	opacity: 1;
}

.nav_title:hover:after,
.nav_title:focus:after {
    width: 100px;
}

.nav {
    position: relative;
    display: inline-block;
}

.nav_link {
    display: none;
    position: absolute;
    background-color: #121214af;
    min-width: 160px;
    z-index: 1;

    border-radius: 15px;
    border: 2px;
    border-color: #37b9ff;
    border-style: solid;
}

.nav_link a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav_link a:hover {
    background-color: #1212146b;
    border-radius: 15px;
    border-color: none;
	color: #37b9ff;
	transition: color 0.2s linear;
}

.nav:hover .nav_link {
    display: block;
}

.icon_profile {
    width: 30px; 
    height: 30px;
}
/* NAV END */





/* CONTENT */
.content {
	width: auto;
    height: auto;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.news {
	align-items: center;
	right: 50%;
}

.title_content {
	font-size: 30px;
	text-align: center;
	padding: 30px 0;
}

.text_content {
	font-size: 15px;
	margin-right: 50%;
}
/* CONTENT END */
























/* POPUP AUTORIZATION */
.popup {
    position: fixed;
    height: 100%;
    width: 100%;

    top: 0;
    left: 0;

    background-color: #121214af;
    background-position: center;
    color: #37b9ff;
    opacity: 0;


    z-index: 999;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup_content{
    opacity: 1;
    transform: translate(0px, 0px);
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.popup_body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 10px;
    transition: all 0.8s ease 0s;
}

.popup_content {
    position: relative;
    padding: 30px;
    background-color: #303136;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}

.popup_close {
    position: absolute;
    right: 30px;
    top: 10px;;
    cursor: pointer;
    text-decoration: none;
    font-size: 32px;
    color: #dddddb;
	z-index: 10;
}

.popup_close img {
    height: 28px; 
    width: 28px;
    margin-top: 8px;
}

/* Одно из изображений прячем */
.popup_content .cancel_hide {
    display: none;
}

/* При наведении показываем выделенное изображение */
.popup_content:hover .cancel_hide {
    display: inline;
}

/* При наведении старое изображение прячем */
.popup_content:hover .cancel_hide {
    display: none;
}

.popup_title {
    text-align: center;
    font-size: 40px;
    margin: 20px 20px;
}

.popup.open {
    opacity: 0.9;
    visibility: visible;
}
/* POPUP AUTORIZATION END */





/* FORM ENTER */
.form_login {
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
}

.line {
    width: 100%;
    margin-top: 10px;
    float: left;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
}

.line label {
    width: 100px;
    float: left;
}

.line .enter {
    margin: 3px;
    width: 70%;
    float: left;
    background-color: inherit;
    border: 0;
    font-size: 1em;
    color: inherit;
    border-bottom: 2px solid #37b9ff;
}

.line .enter:focus{
    border-bottom: 2px solid #dddddb;
}

.button_enter {
    position: relative;
    cursor: pointer;
    font-size: large;
    background-color: #26272be1;;
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    border: 2px solid #dddddb;
    color: #dddddb;
    transition: .4s;
    text-align: center;
}

  .button_enter:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0,0,0,0);
    transition: .4s;
}

.button_enter:hover:after {
    border-color: #dddddb;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}
/* FORM ENTER END */



































